%h4 Edit system-settings

= form_for @system, :url => { :action => "update", :id => @system.id } do |f|
  - 
  %p#name
    %label Time unit:
    = f.text_field :time_unit
    
  %p
    = f.submit "Apply"